body{
    background-color: #012030;
}


.message_de_bienvenue{
    text-align: center;
    background-color: #003152;
    padding: 550px;
    
    text-decoration: underline;
    color: beige;
}

footer{
background-color:#121212;
height: 400px;
color: white;
font-size: 30px;
display: flex;
justify-content:space-around;
text-align: center;

}

.link_footer{
color: gray;

}

#logoFooter{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
h4{
    font-size: 45px;
}

#sectionTitre{
    background-color:#DEC812 ;
    height: 150px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #003152;
   

}

.bArticle{

    width: 400px;
    height:400px ;
    border-radius: 20px;
    background-color: #003152;
}

.divArticle{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}







    