body{
    background-image: url(./IMages/resized_gradient.jpg);
}


.message_de_bienvenue{
    text-align: center;
    background-color: #003152;
    padding: 550px;
    
    text-decoration: underline;
    color: beige;
}

footer{
background-color:#121212;
height: 400px;
color: gray;
font-size: 30px;
display: flex;
justify-content:space-around;
text-align: center;

}

.link_footer{
color: gray;

}

#logoFooter{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
h4{
    font-size: 45px;
    color: white;
}


.bArticle{
    
    width: 400px;
    height:400px ;
    border-radius: 20px;
    background-color: #003152;
    color: white;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.divArticle{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    
}

.imageArticle{
    width: 200px;
    height: 200px ;
    border-radius: 20px;
}

.texteArticle{

    background-color: white;
    height: 30px;
    width: 30px;
}
h1{
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
   
    display: flex;
    justify-content:space-between;
}
.imageHeader{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    
}

.bHeader{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size:20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#barreRecherche{
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divHeader{
    margin-top: 25px;
}

.divImageHeader{
    margin-top: 10px;
}
#bRecherche{
    height: 50px;
    color: white;
    width: 45px;
    background-color: black;
    border-radius: 10px;
}

#containerContact{
    margin-top: 80px;
display: flex;
justify-content: space-between;
}
#divFormulaire{

    background-color:#121212;

    width: 900px;

    height: 800px;
    border-radius: 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    

   
}
#photoContact{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    
}
#divInfo{
   text-align: center;
   width: 50%;
}
#bFormulaire{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-left: 310px;
    background-color: #003152;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.formulaire{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    margin-left: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
}







    