body{
    background-color: #003152; 
}


.message_de_bienvenue{
    text-align: center;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
background-color:#121212;
height: 400px;
color: gray;
font-size: 30px;
display: flex;
justify-content:space-around;
text-align: center;

}

.link_footer{
color: gray;

}

#logoFooter{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
h4{
    font-size: 45px;
    color: white;
}


.bArticle{
    
    width: 400px;
    height:400px ;
    border-radius: 20px;
    background-color: #003152;
    color: white;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.divArticle{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    
}

.imageArticle{
    width: 200px;
    height: 200px ;
    border-radius: 20px;
}

.texteArticle{

    background-color: white;
    height: 30px;
    width: 30px;
}
h1{
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
   
    display: flex;
    justify-content:space-between;
    

    height: 100px;
    border-bottom-style: solid;
    border-width: 5px;
    border-bottom-color:#003152;
    background-color: #121212;
}
.imageHeader{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    
}

.bHeader{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size:20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .bHeader:hover{
        background-color: #ffcc00; 
        box-shadow: 0 0 15px #ffcc00; 
        cursor: pointer;
    }

#barreRecherche{
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divHeader{
    margin-top: 25px;
}

.divImageHeader{
    margin-top: 10px;
}
#bRecherche{
    height: 50px;
    color: white;
    width: 45px;
    background-color: black;
    border-radius: 10px;
}

#containerContact{
    margin-top: 80px;
display: flex;
justify-content: space-between;
}
#divFormulaire{

    background-color:#121212;

    width: 900px;

    height: 800px;
    border-radius: 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    

   
}
#photoContact{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    
}
#divInfo{
   
   width: 1050px;
   
}
#bFormulaire{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-left: 310px;
    background-color: #003152;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.formulaire{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    margin-left: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
}
#divCategorie{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    height: 40px;
    
    
}

.linkCategorie{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 6px;
}
.iconContact{
    width: 80px;
    height: 80px;
}
.divTel{
    display: flex;
    justify-content: center;
}
.texteTel{
    color: white;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    
}

h3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
#divReseau_Map{
    display: flex;
    justify-content: space-between;
}

#g{
   background-color: gray;
   width: 100px;
}


.texte_à_propos{
text-align: center;
background-color: rgba(0, 0, 0, 0.6);
font-size: x-large;
padding: 30px;
color: white;
box-sizing: border-box;



margin-left: 30px;
}

.lienYoutube{
    text-align: center;
}



    