body{
    background-color: #012030;
}


.message_de_bienvenue{
    text-align: center;
    background-color: #003152;
    padding: 550px;
    
    text-decoration: underline;
    color: beige;
}




    