body{
    background-color: #012030;
}


.message_de_bienvenue{
    text-align: center;
    background-color: #003152;
    padding: 550px;
    
    text-decoration: underline;
    color: beige;
}

footer{
background-color:#121212;
height: 400px;
color: white;
font-size: 30px;
display: flex;
justify-content:space-around;
text-align: center;

}

.link_footer{
color: gray;

}

#logoFooter{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
h4{
    font-size: 45px;
}






    